@charset "utf-8";
/* CSS Document */
	body,div,ul,li{margin:0px;padding:0px;}
	
	#header{
		width:100%;
		height:40px;
		//background:#ccc;
		min-width:1000px;
		font-family: "Times New Roman", Times, serif;
		font-size: 26px;
        font
		
	}

	ul li{
		float:left;
		list-style-type:none;
		
	}
	
	a{
		text-decoration:none;
	}
	
	
	#admin{
			float:right;
		}
		
		
